<a href="https://colab.research.google.com/github/Alvarrir/2020python/blob/master/2020_Python_Programming_Practical_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2020 Python Programming Practical 3**

If you do not have one already, create a [GitHub](https://github.com) account using your DHS Mail.

Create a public repository 2020python

File --> Save a copy in GitHub under your 2020python repository

Also share this colab file with edit access with computing@dhs.sg

**Q1. (Displaying an integer reversed)**

Write a function reverse_int(n) to display an integer in reverse order:

For example, reverse_int(3456) displays 6543.

In [128]:
#def reverse_int(n):
  #stringed = str(n)
  #reverseno = ""
  #for i in range(len(stringed)-1, -1, -1):
    #reverseno += stringed[i]
  #return int(reverseno)
#reverse_int(3456)

def reverse_int(n):
  while n > 0: #"breaks" when e.g. 6%10=0 or 0%10=0
    thing = 0 
    print(thing*10+n%10, end="")
    n = n//10

#main
reverse_int(3456)

6543

**Q2. (Displaying patterns)**

Write a function display_pattern(n) to display a pattern as follows:
```
              1
            2 1
          3 2 1
...
n n-1 ... 3 2 1 
```

In [129]:
def display_pattern(n):
  for row in range(n):
    print(" " * (n-row-1), end="")
    for num in range(row+1):
      print(num+1, end="")
    print()

#main
display_pattern(5)

    1
   12
  123
 1234
12345

**Q3. (Computing GCD)**

Write a function gcd(m, n) that returns the greatest common divisor between two positive integers:

Test your program with gcd(24, 16) and gcd(255, 25).

In [139]:
def gcd(m, n):
  for i in range(1, n+1):
    if (m % i == 0) and (n % i == 0):
      result = i
  return result

#main
print(gcd(24, 16))
print(gcd(255,25))

8
5

**Q4. (Summing series)**

Write a function m_series(i) to compute the following series:

m(i) = ½ + ⅔ + … + i/(i+1)

Generate the following table:
```
i         m(i)     
1         0.5000   
2         1.1667   
... 
19        16.4023  
20        17.3546  
```

In [138]:
#headings
print(f'{"i":<10}',"m(i)")

def m_series(i):
  x = 1
  total = 0
  for x in range(1, i+1):
    total += x/(x+1)
    print(f'{x:<10}',f'{total:.4f}')

#main
m_series(20)

i          m(i)
1          0.5000
2          1.1667
3          1.9167
4          2.7167
5          3.5500
6          4.4071
7          5.2821
8          6.1710
9          7.0710
10         7.9801
11         8.8968
12         9.8199
13         10.7484
14         11.6818
15         12.6193
16         13.5604
17         14.5049
18         15.4523
19         16.4023
20         17.3546

**Q5. (Prime number)**

Write a function to determine whether an integer is a prime number. An integer greater than 1 is a prime number if its only divisor is 1 or itself. For example, is_prime(11) returns True, and is_prime(9) returns False.

Use the is_prime(n) function to find the first thousand prime numbers and display every ten prime numbers in a row, as follows:
```
2   3   5   7   11   13   17   19   23   29
31  37  41  43  47   53   59   61   67   71
73  79  83  89  97  ...
...
```

In [136]:
import math

def is_prime(n):
  if n == 2: #2 is only even prime
    return True
  elif n % 2 == 0: # all even numbers other than 2 are not prime numbers
    return False
  else:
    for i in range(3, int(math.sqrt(n))+1, 2): # test for odd numbers
      if n % i == 0:
        return False
    return True

#main
print(is_prime(2)) # True
print(is_prime(3)) # True
print(is_prime(13)) # True
print(is_prime(35)) # False
print(is_prime(88)) # False

True
True
True
False
False

**Q6. (Convert from kilograms to pounds)**

Write a function print_matrix(n) that displays an n by n matrix, where n is a positive integer entered by the user. Each element is 0 or 1, which is generated randomly. A 3 by 3 matrix may look like this:
```
0 1 0
0 0 0
1 1 1 
```

In [134]:
import random
matrixno = [0, 1]

def print_matrix(n):
  for x in range(n):
    for x in range(n-1):
      print(random.choice(matrixno), end=" ")
    print(random.choice(matrixno))

#main
print_matrix(3)

0 1 1
0 0 0
1 1 1

**Q7. (Converting milliseconds to hours, minutes, and seconds)**

Write a method convert_ms(n) that converts milliseconds to hours, minutes, and seconds. The method returns a string as hours:minutes:seconds. For example, convert_ms(5500) returns a string 0:0:5, convert_ms(100000) returns a string 0:1:40, and convert_ms(555550000) returns a string 154:19:10.

In [135]:
def convert_ms(n):
  convert_s = n*10**(-3)
  convert_min, convert_s = divmod(convert_s, 60)
  convert_h, convert_min = divmod(convert_min, 60)
  final_s = str(int(convert_s))
  final_min = str(int(convert_min))
  final_h = str(int(convert_h))
  return final_h + ":" + final_min + ":" + final_s

#main
print(convert_ms(5500))
print(convert_ms(100000))
print(convert_ms(555550000))

0:0:5
0:1:40
154:19:10